:host {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.navbar-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px gray solid;
}

.navbar-slot{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px black solid;
    gap: 23px;
    margin-right: 15px;
    cursor: pointer;
}

.another-header{
    display: flex;
    justify-content: space-between;
}