<mat-sidenav-container class="example-container" (backdropClick)="close('backdrop')">

    <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
        <div class="navbar-header">
            <p>Menu</p>
            <button mat-icon-button color="accent" (click)="close('toggle button')">
                <mat-icon>close</mat-icon>
            </button>
        </div>

        <div class="navbar-slot " routerLink="">
            <p>Canciones</p>
            <button mat-icon-button color="accent">
                <mat-icon>arrow_forward</mat-icon>
            </button>
        </div>

        <div class="navbar-slot">
            <p>Artistas</p>
            <button mat-icon-button color="accent" disabled="">
                <mat-icon>arrow_forward</mat-icon>
            </button>
        </div>

        <div class="navbar-slot">
            <p>Compañías</p>
            <button mat-icon-button color="accent" disabled="">
                <mat-icon>arrow_forward</mat-icon>
            </button>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>

        <div class="another-header">
            <button mat-icon-button color="accent" (click)="sidenav.open()">
                <mat-icon>menu</mat-icon>
            </button>

            <button mat-icon-button color="accent" routerLink="song/new">
                <mat-icon>add</mat-icon>
            </button>
        </div>

        <app-c-song-card *ngFor="let song of songs" [routerLink]="['song', song.id]" [title]="song.title" [poster]="song.poster"
            [genre]="song.genre">
        </app-c-song-card>

    </mat-sidenav-content>

</mat-sidenav-container>